
<app-navbar></app-navbar>
<app-loading-invite (inviteFound)="onUserFound($event)"></app-loading-invite>
<div class="w-full bg-light relative z-10">
  <div class="bg-light pt-32 relative grid grid-cols-6 gap-3 sm:grid-cols-12 max-w-screen-2xl mx-auto px-6 md:px-24 z-10">
    <div class="col-start-1 col-end-7 sm:col-start-4 sm:col-end-10">
      <div class="flex flex-col gap-20">
        <app-main-cover></app-main-cover>
        <app-papel-picado-line></app-papel-picado-line>
        <app-welcome [invite]="invite"></app-welcome>
        <app-papel-picado-line></app-papel-picado-line>
        <app-itinerary></app-itinerary>
        <app-flor-line></app-flor-line>
        <app-rsvp-form [invite]="invite"></app-rsvp-form>
        <img [src]="coliLine" alt="coli-wakis">
        <app-dress-code></app-dress-code>
        <app-flor-line></app-flor-line>
        <app-gif-details></app-gif-details>
        <app-papel-picado-line></app-papel-picado-line>
        <app-transport></app-transport>
        <img [src]="ferLine" alt="fer-poh">
        <app-stay-list></app-stay-list>
        <app-flor-line></app-flor-line>
      </div>
    </div>
  </div>
  <div class="absolute w-full rounded-b-2xl h-[calc(2*0.75rem)] bg-light"></div>
</div>

<app-footer></app-footer>
