<section class="section">
  <h2 id="itinerario" class="sub-header">Itinerario <i class="pi pi-calendar-clock" style="font-size: 1.5rem"></i></h2>
  <ng-container *ngFor="let itinerary of itineraryList">
    <app-info-item
      [infoItem]="itinerary"
      (openDialog)="onOpenDialog($event)"
    ></app-info-item>
  </ng-container>
</section>

<p-dialog header="Detalles del Programa"  [(visible)]="showProgramaDialog" [style]="{width: '400px', margin: '10px'}">
  <div class=" flex flex-col gap-3">
    <p>Brindis 🥂</p>
    <p>Fandango y sus parabienes</p>
    <p>Vals</p>
    <p>La cola</p>
    <p>La gallina ciega 💐</p>
    <p>Mediuxhiga</p>
  </div>

</p-dialog>
