<section class="section">
  <h2 id="regalos" class="sub-header">Regalos <i class="pi pi-gift" style="font-size: 1.5rem"></i></h2>
  <p class="text-ternary">
    Lo que más valoramos es tu compañía en este día tan importante para nosotros.
    Decidimos no recibir regalos físicos, porque la fiesta se organiza lejos de donde radicamos, pero si deseas obsequiarnos algo,
    tendremos una caja donde puedes depositar un sobre con efectivo.
    Este regalo tuyo nos ayuda a acercarnos al sueño de construir nuestra casita.
  </p>
</section>
